/build-SerialPortYmodem-Desktop_Qt_5_7_1_MSVC2015_64bit-Debug
/build-SerialPortYmodem-Desktop_Qt_5_7_1_MSVC2015_64bit-Profile
/build-SerialPortYmodem-Desktop_Qt_5_7_1_MSVC2015_64bit-Release
/SerialPortYmodem/SerialPortYmodem.pro.user
